node-red/node-red/.flows_localhost.localdomain.json.backup
[{"id":"d05001d0.65225","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e747536a.2c6ad","type":"http request","z":"d05001d0.65225","name":"get repo list","method":"GET","ret":"obj","url":"","tls":"","x":150,"y":180,"wires":[["8b80d4c3.a0cc28"]]},{"id":"7fb38cc8.d2d124","type":"debug","z":"d05001d0.65225","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":320,"wires":[]},{"id":"8b80d4c3.a0cc28","type":"function","z":"d05001d0.65225","name":"get repo {}","func":"for (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].open_issues && msg.payload[i].name == 'zetapush') {\n        global.set(\"repo\", msg.payload[i].name);\n        msg.payload = msg.payload[i];\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["115ca9c1.79b866","d43da3df.42382","8ee0913b.03592"]]},{"id":"4c6fa2d4.b7f25c","type":"http request","z":"d05001d0.65225","name":"/GET issues","method":"GET","ret":"obj","url":"","tls":"","x":650,"y":380,"wires":[["deaa30c4.052e6"]]},{"id":"d43da3df.42382","type":"change","z":"d05001d0.65225","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"pacome35220\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["8c44a99f.782c98"]]},{"id":"deaa30c4.052e6","type":"function","z":"d05001d0.65225","name":"merge data","func":"function obj_tab_filter(obj, accept)\n{\n    var tab = [];\n\n    obj.forEach(function(elem) {\n        tab.push(Object.keys(elem)\n            .filter(key => accept.includes(key))\n            .reduce((tmp, key) => {\n                tmp[key] = elem[key];\n                return tmp;\n            }, {})\n        );\n    });\n    return (tab);\n}\n\nfunction parse_time(time)\n{\n    var split = time.split(\"T\");\n\n    return (split[0] + \" \" + split[1].slice(0, -1));\n}\n\nfunction get_good_color(objtab)\n{\n    for (var i = 0; i < objtab.length; i++)\n        objtab[i].color = \"#\" + objtab[i].color;\n    return (objtab);\n}\n\nvar data = {};\n\ndata.release = global.get(\"tags\");\ndata.repo = global.get(\"repo\");\ndata.pull_request = global.get(\"pull_request\");\ndata.issues = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].pull_request)\n        continue;\n    msg.payload[i] = {\n        name: msg.payload[i].title,\n        id: msg.payload[i].number,\n        url: msg.payload[i].html_url,\n        user: {\n            name: msg.payload[i].user.login,\n            avatar: msg.payload[i].user.avatar_url,\n            url: msg.payload[i].user.html_url\n        },\n        created: parse_time(msg.payload[i].created_at),\n        labels: get_good_color(obj_tab_filter(msg.payload[i].labels, [\"name\", \"color\"])),\n        body: msg.payload[i].body,\n        assignees: obj_tab_filter(msg.payload[i].assignees, [\"login\", \"avatar_url\"])\n    };\n    data.issues.push(msg.payload[i]);\n}\nmsg.payload = data;\nnode.send(msg);","outputs":1,"noerr":0,"x":850,"y":380,"wires":[["7fb38cc8.d2d124","fa2ae402.bb8f18"]]},{"id":"d235c17a.be72d","type":"http request","z":"d05001d0.65225","name":"/GET tags","method":"GET","ret":"obj","url":"","tls":"","x":660,"y":300,"wires":[["b6aa60fd.ceb06"]]},{"id":"115ca9c1.79b866","type":"change","z":"d05001d0.65225","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"pacome35220\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[["c8b99172.4944b"]]},{"id":"8c44a99f.782c98","type":"function","z":"d05001d0.65225","name":"issues","func":"msg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/issues';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["4c6fa2d4.b7f25c"]]},{"id":"c8b99172.4944b","type":"function","z":"d05001d0.65225","name":"tags","func":"msg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/tags';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["d235c17a.be72d"]]},{"id":"b6aa60fd.ceb06","type":"function","z":"d05001d0.65225","name":"get last tags","func":"msg.payload = msg.payload[0].name;\nglobal.set(\"tags\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]},{"id":"9a81e7de.457088","type":"http request","z":"d05001d0.65225","name":"/GET pulls","method":"GET","ret":"obj","url":"","tls":"","x":670,"y":460,"wires":[["f5cbe6eb.f69b68"]]},{"id":"8ee0913b.03592","type":"change","z":"d05001d0.65225","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"pacome35220\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["fda08da3.ef73"]]},{"id":"fda08da3.ef73","type":"function","z":"d05001d0.65225","name":"pull request","func":"msg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/pulls';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["9a81e7de.457088"]]},{"id":"f5cbe6eb.f69b68","type":"function","z":"d05001d0.65225","name":"get pull request list","func":"function obj_tab_filter(obj, accept)\n{\n    var tab = [];\n\n    obj.forEach(function(elem) {\n        tab.push(Object.keys(elem)\n            .filter(key => accept.includes(key))\n            .reduce((tmp, key) => {\n                tmp[key] = elem[key];\n                return tmp;\n            }, {})\n        );\n    });\n    return (tab);\n}\n\nfunction parse_time(time)\n{\n    var split = time.split(\"T\");\n\n    return (split[0] + \" \" + split[1].slice(0, -1));\n}\n\nfunction get_good_color(objtab)\n{\n    for (var i = 0; i < objtab.length; i++)\n        objtab[i].color = \"#\" + objtab[i].color;\n    return (objtab);\n}\n\nvar data = [];\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i] = {\n        name: msg.payload[i].title,\n        id: msg.payload[i].number,\n        url: msg.payload[i].html_url,\n        user: {\n            name: msg.payload[i].user.login,\n            avatar: msg.payload[i].user.avatar_url,\n            url: msg.payload[i].user.html_url\n        },\n        created: parse_time(msg.payload[i].created_at),\n        labels: get_good_color(obj_tab_filter(msg.payload[i].labels, [\"name\", \"color\"])),\n        body: msg.payload[i].body,\n        requested_reviewers: obj_tab_filter(msg.payload[i].requested_reviewers, [\"login\", \"avatar_url\"]),\n        commit: msg.payload[i].commits,\n        head: msg.payload[i].head.ref,\n        base: msg.payload[i].base.ref\n    };\n    data.push(msg.payload[i]);\n}\n\nmsg.payload = data;\nglobal.set(\"pull_request\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":460,"wires":[[]]},{"id":"fa2ae402.bb8f18","type":"config-flow","z":"d05001d0.65225","name":"","platformUrl":"https://celtia.zetapush.com/zbo/pub/business","appName":"2qde3WQU","email":"pacome.francon@epitech.eu","login":"pacome","password":"azerty","x":1050,"y":380,"wires":[]},{"id":"ed2dc0d9.b4753","type":"inject","z":"d05001d0.65225","name":"","topic":"https://api.github.com/orgs/zetapush/repos","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["1aca775b.aa4439"]]},{"id":"1aca775b.aa4439","type":"change","z":"d05001d0.65225","name":"Set url + headers","rules":[{"t":"move","p":"topic","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"pacome35220\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["e747536a.2c6ad"]]}]