.node-red/.flows_localhost.localdomain.json.backup
[{"id":"f8ff044f.d86638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb4300f6.8d88d","type":"http request","z":"f8ff044f.d86638","name":"get repo list","method":"GET","ret":"obj","url":"https://api.github.com/orgs/zetapush/repos","tls":"","x":150,"y":180,"wires":[["d2696fb1.41f8"]]},{"id":"fdb8618c.74b7e","type":"debug","z":"f8ff044f.d86638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":300,"wires":[]},{"id":"1c3bca7.e743036","type":"http response","z":"f8ff044f.d86638","name":"","statusCode":"","headers":{},"x":1090,"y":380,"wires":[]},{"id":"777dc3f1.c4aeac","type":"http in","z":"f8ff044f.d86638","name":"","url":"/github","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["61d93eb1.8eef2"]]},{"id":"d2696fb1.41f8","type":"function","z":"f8ff044f.d86638","name":"get repo {}","func":"for (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].open_issues/* && msg.payload[i].name == 'zetapush'*/) {\n        global.set(\"repo\", msg.payload[i].name);\n        msg.payload = msg.payload[i];\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["1ef0933e.bb48ed","4ac6f7bb.ef4978"]]},{"id":"61d93eb1.8eef2","type":"change","z":"f8ff044f.d86638","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.user-agent","pt":"msg","to":"req.headers.user-agent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":60,"wires":[["cb4300f6.8d88d"]]},{"id":"2c6c44c4.bf0a1c","type":"http request","z":"f8ff044f.d86638","name":"get issues list","method":"GET","ret":"obj","url":"","tls":"","x":680,"y":380,"wires":[["5311417c.55406"]]},{"id":"4ac6f7bb.ef4978","type":"change","z":"f8ff044f.d86638","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.user-agent","pt":"msg","to":"req.headers.user-agent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["a7fddade.8cfef8"]]},{"id":"5311417c.55406","type":"function","z":"f8ff044f.d86638","name":"throw useless data","func":"function obj_tab_filter(obj, accept)\n{\n    var tab = [];\n\n    obj.forEach(function(elem) {\n        tab.push(Object.keys(elem)\n            .filter(key => accept.includes(key))\n            .reduce((tmp, key) => {\n                tmp[key] = elem[key];\n                return tmp;\n            }, {})\n        );\n    });\n    return (tab);\n}\n\nfunction parse_time(time)\n{\n    var split = time.split(\"T\");\n\n    return (split[0] + \" \" + split[1].slice(0, -1));\n}\n\nfunction get_good_color(objtab)\n{\n    for (var i = 0; i < objtab.length; i++)\n        objtab[i].color = \"#\" + objtab[i].color;\n    return (objtab);\n}\n\nvar data = {};\n\ndata.release = global.get(\"tags\");\ndata.repo = global.get(\"repo\");\ndata.issues = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    var issue = msg.payload[i];\n    data.issues.push({\n            name: issue.title,\n            id: issue.number,\n            url: issue.html_url,\n            user: {\n                name: issue.user.login,\n                avatar: issue.user.avatar_url,\n                url: issue.user.html_url\n            },\n            created: parse_time(issue.created_at),\n            updated: parse_time(issue.updated_at),\n            labels: get_good_color(obj_tab_filter(issue.labels, [\"name\", \"color\"])),\n            body: issue.body,\n            assignees: obj_tab_filter(issue.assignees, [\"login\", \"avatar_url\"])\n        }\n    );\n}\nmsg.payload = data;\nnode.send(msg);","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["1c3bca7.e743036","fdb8618c.74b7e"]]},{"id":"dbed0daf.7ff0e","type":"http request","z":"f8ff044f.d86638","name":"get tags value","method":"GET","ret":"obj","url":"","tls":"","x":680,"y":300,"wires":[["718b867d.ced948"]]},{"id":"1ef0933e.bb48ed","type":"change","z":"f8ff044f.d86638","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.user-agent","pt":"msg","to":"req.headers.user-agent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[["51a677c3.ca38d8"]]},{"id":"a7fddade.8cfef8","type":"function","z":"f8ff044f.d86638","name":"/GET issues","func":"msg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/issues';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["2c6c44c4.bf0a1c"]]},{"id":"51a677c3.ca38d8","type":"function","z":"f8ff044f.d86638","name":"/GET tags","func":"msg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/tags';\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["dbed0daf.7ff0e"]]},{"id":"718b867d.ced948","type":"function","z":"f8ff044f.d86638","name":"get last tags","func":"msg.payload = msg.payload[0].name;\nglobal.set(\"tags\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[[]]}]