node-red/server/flows_localhost.localdomain.json
[{"id":"d05001d0.65225","type":"tab","label":"Github","disabled":false,"info":""},{"id":"19bf647a.0ac44c","type":"tab","label":"Jenkins","disabled":false,"info":""},{"id":"480f31cd.b53d9","type":"tab","label":"merge_flow","disabled":false,"info":""},{"id":"e747536a.2c6ad","type":"http request","z":"d05001d0.65225","name":"get repo list","method":"GET","ret":"obj","url":"","tls":"","x":150,"y":180,"wires":[["8b80d4c3.a0cc28"]]},{"id":"7fb38cc8.d2d124","type":"debug","z":"d05001d0.65225","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":380,"wires":[]},{"id":"8b80d4c3.a0cc28","type":"function","z":"d05001d0.65225","name":"choose repo","func":"for (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].open_issues && msg.payload[i].name == 'zetapush') {\n        global.set(\"repo\", msg.payload[i].name);\n        msg.payload = msg.payload[i];\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["c8b99172.4944b","8c44a99f.782c98","fda08da3.ef73"]]},{"id":"4c6fa2d4.b7f25c","type":"http request","z":"d05001d0.65225","name":"/GET issues","method":"GET","ret":"obj","url":"","tls":"","x":490,"y":380,"wires":[["deaa30c4.052e6"]]},{"id":"deaa30c4.052e6","type":"function","z":"d05001d0.65225","name":"merge data","func":"function obj_tab_filter(obj, accept)\n{\n    var tab = [];\n\n    obj.forEach(function(elem) {\n        tab.push(Object.keys(elem)\n            .filter(key => accept.includes(key))\n            .reduce((tmp, key) => {\n                tmp[key] = elem[key];\n                return tmp;\n            }, {})\n        );\n    });\n    return (tab);\n}\n\nfunction parse_time(time)\n{\n    var split = time.split(\"T\");\n\n    return (split[0] + \" \" + split[1].slice(0, -1));\n}\n\nfunction get_good_color(objtab)\n{\n    for (var i = 0; i < objtab.length; i++)\n        objtab[i].color = \"#\" + objtab[i].color;\n    return (objtab);\n}\n\nvar data = {};\n\ndata.release = global.get(\"tags\");\ndata.repo = global.get(\"repo\");\ndata.pull_request = global.get(\"pull_request\");\ndata.issues = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload[i].pull_request)\n        continue;\n    msg.payload[i] = {\n        name: msg.payload[i].title,\n        id: msg.payload[i].number,\n        url: msg.payload[i].html_url,\n        user: {\n            name: msg.payload[i].user.login,\n            avatar: msg.payload[i].user.avatar_url,\n            url: msg.payload[i].user.html_url\n        },\n        created: parse_time(msg.payload[i].created_at),\n        labels: get_good_color(obj_tab_filter(msg.payload[i].labels, [\"name\", \"color\"])),\n        body: msg.payload[i].body,\n        assignees: obj_tab_filter(msg.payload[i].assignees, [\"login\", \"avatar_url\"])\n    };\n    data.issues.push(msg.payload[i]);\n}\n\nmsg.payload = data;\nglobal.set(\"github\", data);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["7fb38cc8.d2d124"]]},{"id":"d235c17a.be72d","type":"http request","z":"d05001d0.65225","name":"/GET tags","method":"GET","ret":"obj","url":"","tls":"","x":500,"y":300,"wires":[["b6aa60fd.ceb06"]]},{"id":"8c44a99f.782c98","type":"function","z":"d05001d0.65225","name":"issues","func":"msg.headers = {\"User-Agent\": \"pacome35220\"};\nmsg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/issues';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["4c6fa2d4.b7f25c"]]},{"id":"c8b99172.4944b","type":"function","z":"d05001d0.65225","name":"tags","func":"msg.headers = {\"User-Agent\": \"pacome35220\"};\nmsg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/tags';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["d235c17a.be72d"]]},{"id":"b6aa60fd.ceb06","type":"function","z":"d05001d0.65225","name":"get last tags","func":"msg.payload = msg.payload[0].name;\nglobal.set(\"tags\", msg.payload ? msg.payload : \"\");\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[[]]},{"id":"9a81e7de.457088","type":"http request","z":"d05001d0.65225","name":"/GET pulls","method":"GET","ret":"obj","url":"","tls":"","x":510,"y":460,"wires":[["f5cbe6eb.f69b68"]]},{"id":"fda08da3.ef73","type":"function","z":"d05001d0.65225","name":"pull request","func":"msg.headers = {\"User-Agent\": \"pacome35220\"};\nmsg.url = 'https://api.github.com/repos/zetapush/' + msg.payload.name + '/pulls';\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["9a81e7de.457088"]]},{"id":"f5cbe6eb.f69b68","type":"function","z":"d05001d0.65225","name":"get pull request list","func":"function obj_tab_filter(obj, accept)\n{\n    var tab = [];\n\n    obj.forEach(function(elem) {\n        tab.push(Object.keys(elem)\n            .filter(key => accept.includes(key))\n            .reduce((tmp, key) => {\n                tmp[key] = elem[key];\n                return tmp;\n            }, {})\n        );\n    });\n    return (tab);\n}\n\nfunction parse_time(time)\n{\n    var split = time.split(\"T\");\n\n    return (split[0] + \" \" + split[1].slice(0, -1));\n}\n\nfunction get_good_color(objtab)\n{\n    for (var i = 0; i < objtab.length; i++)\n        objtab[i].color = \"#\" + objtab[i].color;\n    return (objtab);\n}\n\nvar data = [];\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i] = {\n        name: msg.payload[i].title,\n        id: msg.payload[i].number,\n        url: msg.payload[i].html_url,\n        user: {\n            name: msg.payload[i].user.login,\n            avatar: msg.payload[i].user.avatar_url,\n            url: msg.payload[i].user.html_url\n        },\n        created: parse_time(msg.payload[i].created_at),\n        labels: get_good_color(obj_tab_filter(msg.payload[i].labels, [\"name\", \"color\"])),\n        body: msg.payload[i].body,\n        requested_reviewers: obj_tab_filter(msg.payload[i].requested_reviewers, [\"login\", \"avatar_url\"]),\n        commit: msg.payload[i].commits,\n        head: msg.payload[i].head.ref,\n        base: msg.payload[i].base.ref\n    };\n    data.push(msg.payload[i]);\n}\n\nmsg.payload = data;\nglobal.set(\"pull_request\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[[]]},{"id":"ed2dc0d9.b4753","type":"inject","z":"d05001d0.65225","name":"","topic":"","payload":"https://api.github.com/orgs/zetapush/repos","payloadType":"str","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["1aca775b.aa4439"]]},{"id":"1aca775b.aa4439","type":"change","z":"d05001d0.65225","name":"Set url + headers","rules":[{"t":"move","p":"payload","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"pacome35220\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["e747536a.2c6ad"]]},{"id":"ce66d969.de11c8","type":"debug","z":"19bf647a.0ac44c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":400,"wires":[]},{"id":"5dc80aee.547a14","type":"inject","z":"19bf647a.0ac44c","name":"","topic":"","payload":"http://ci.zpush.io:28702/job/ZetaPush%20Github/api/json?pretty","payloadType":"str","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["ddc6e5ad.ae1598"]]},{"id":"3229baa2.f357c6","type":"http request","z":"19bf647a.0ac44c","name":"get repo list","method":"GET","ret":"obj","url":"","tls":"","x":150,"y":140,"wires":[["3e955f6b.c8755"]]},{"id":"3e955f6b.c8755","type":"function","z":"19bf647a.0ac44c","name":"choose repo","func":"var url = [];\n\nmsg.payload.jobs.forEach((jobs) => {\n    url.push(jobs.url + 'api/json?pretty');\n});\n\nmsg.payload = url;\nnode.send(msg);","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["1339f58e.e157fa","6e744176.6e854"]]},{"id":"1339f58e.e157fa","type":"change","z":"19bf647a.0ac44c","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":220,"wires":[["bb4b1ab2.b719d8"]]},{"id":"6e744176.6e854","type":"change","z":"19bf647a.0ac44c","name":"Set url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":280,"wires":[["c42b3d6.a8801c"]]},{"id":"bb4b1ab2.b719d8","type":"http request","z":"19bf647a.0ac44c","name":"/GET Documentation","method":"GET","ret":"obj","url":"","tls":"","x":300,"y":220,"wires":[["a1ba841.8b6de78"]]},{"id":"c42b3d6.a8801c","type":"http request","z":"19bf647a.0ac44c","name":"/GET zetapush","method":"GET","ret":"obj","url":"","tls":"","x":280,"y":280,"wires":[["e5d7b060.71d51"]]},{"id":"a1ba841.8b6de78","type":"function","z":"19bf647a.0ac44c","name":"get branch list","func":"global.set(\"doc\", {\n    name: msg.payload.name,\n    description: msg.payload.description,\n    url: msg.payload.url,\n    branchs: []\n});\nglobal.set(\"len_doc\", msg.payload.jobs.length);\n\nmsg.payload.jobs.forEach((jobs) => {\n    msg.url = jobs.url + 'api/json?pretty';\n    node.send(msg);\n});","outputs":1,"noerr":0,"x":200,"y":360,"wires":[["c39bc9f6.9ac6c8"]]},{"id":"c39bc9f6.9ac6c8","type":"http request","z":"19bf647a.0ac44c","name":"/GET each branch","method":"GET","ret":"obj","url":"","tls":"","x":390,"y":360,"wires":[["157645f8.b9870a"]]},{"id":"157645f8.b9870a","type":"function","z":"19bf647a.0ac44c","name":"bufferizer","func":"var doc = global.get(\"doc\");\n\ndoc.branchs.push({\n    name: msg.payload.displayName,\n    last_build: {\n        description: msg.payload.healthReport[0].description,\n        url: msg.payload.lastBuild.url,\n        icon: 'https://raw.githubusercontent.com/jenkinsci/jenkins/master/war/src/main/webapp/images/48x48/' + msg.payload.healthReport[0].iconUrl,\n        score: msg.payload.healthReport[0].score,\n    },\n    branch_url: msg.payload.url\n});\n\nmsg.url = msg.payload.lastBuild.url + 'api/json?pretty'\nmsg.payload = doc;\n\nnode.send(msg);","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["d8963175.5ddd2"]]},{"id":"d8963175.5ddd2","type":"http request","z":"19bf647a.0ac44c","name":"/GET build time","method":"GET","ret":"obj","url":"","tls":"","x":720,"y":360,"wires":[["d4f0f3d3.88ad7"]]},{"id":"d4f0f3d3.88ad7","type":"function","z":"19bf647a.0ac44c","name":"get time last build","func":"var doc = global.get(\"doc\");\n\ndoc.branchs.find((branch) => {\n    if (msg.payload.fullDisplayName.indexOf(branch.name) != -1)\n        branch.time = msg.payload.timestamp;\n})\n\nif (typeof i == 'undefined')\n    i = 0;\ni++;\n\nmsg.payload = doc;\n\nif (i >= global.get(\"len_doc\"))\n    return msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["83f915ea.7116d8"]]},{"id":"e5d7b060.71d51","type":"function","z":"19bf647a.0ac44c","name":"get branch list","func":"global.set(\"zetapush\", {\n    name: msg.payload.name,\n    description: msg.payload.description,\n    url: msg.payload.url,\n    branchs: []\n});\nglobal.set(\"len_zetapush\", msg.payload.jobs.length);\n\nmsg.payload.jobs.forEach((jobs) => {\n    msg.url = jobs.url + 'api/json?pretty';\n    node.send(msg);\n});","outputs":1,"noerr":0,"x":200,"y":440,"wires":[["87bb847a.87b1a8"]]},{"id":"87bb847a.87b1a8","type":"http request","z":"19bf647a.0ac44c","name":"/GET each branch","method":"GET","ret":"obj","url":"","tls":"","x":390,"y":440,"wires":[["137cceea.c49c21"]]},{"id":"dc86f4e5.285108","type":"http request","z":"19bf647a.0ac44c","name":"/GET build time","method":"GET","ret":"obj","url":"","tls":"","x":720,"y":440,"wires":[["107576f5.8caff9"]]},{"id":"107576f5.8caff9","type":"function","z":"19bf647a.0ac44c","name":"get time last build","func":"var zetapush = global.get(\"zetapush\");\n\nzetapush.branchs.find((branch) => {\n    if (msg.payload.fullDisplayName.indexOf(branch.name) != -1)\n        branch.time = msg.payload.timestamp;\n})\n\nif (typeof i == 'undefined')\n    i = 0;\ni++;\n\nmsg.payload = zetapush;\nif (i >= global.get(\"len_zetapush\"))\n    return msg;\n","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["83f915ea.7116d8"]]},{"id":"83f915ea.7116d8","type":"function","z":"19bf647a.0ac44c","name":"merge data","func":"msg.payload = [\n    global.get(\"zetapush\"),\n    global.get(\"doc\")\n];\n\nif (typeof i == 'undefined')\n    i = 0;\ni++;\n\nglobal.set(\"jenkins\", msg.payload);\nif (i == 2)\n    return msg;","outputs":1,"noerr":0,"x":1110,"y":400,"wires":[["ce66d969.de11c8"]]},{"id":"f0ceca5b.5c3468","type":"debug","z":"480f31cd.b53d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":220,"wires":[]},{"id":"a18194eb.d58ff8","type":"inject","z":"480f31cd.b53d9","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"5","x":270,"y":280,"wires":[["5f6e3dbb.529cf4"]]},{"id":"5f6e3dbb.529cf4","type":"function","z":"480f31cd.b53d9","name":"merge","func":"msg.payload = {\n    github: global.get(\"github\"),\n    jenkins: global.get(\"jenkins\"),\n};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["f0ceca5b.5c3468"]]},{"id":"eddb36fc.1ae9f8","type":"config-flow","z":"480f31cd.b53d9","name":"","platformUrl":"https://celtia.zetapush.com/zbo/pub/business","appName":"1H5WJI_-","email":"pacome.francon@zetapush.com","login":"node-red","password":"node-red","x":630,"y":340,"wires":[]},{"id":"ddc6e5ad.ae1598","type":"change","z":"19bf647a.0ac44c","name":"Set url","rules":[{"t":"move","p":"payload","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":60,"wires":[["3229baa2.f357c6"]]},{"id":"137cceea.c49c21","type":"function","z":"19bf647a.0ac44c","name":"bufferizer","func":"var zetapush = global.get(\"zetapush\");\n\nzetapush.branchs.push({\n    name: msg.payload.displayName,\n    last_build: {\n        description: msg.payload.healthReport[0].description,\n        url: msg.payload.lastBuild.url,\n        icon: 'https://raw.githubusercontent.com/jenkinsci/jenkins/master/war/src/main/webapp/images/48x48/' + msg.payload.healthReport[0].iconUrl,\n        score: msg.payload.healthReport[0].score,\n    },\n    branch_url: msg.payload.url\n});\n\nmsg.url = msg.payload.lastBuild.url + 'api/json?pretty'\nmsg.payload = zetapush;\n\nnode.send(msg);","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["dc86f4e5.285108"]]}]